* {
    margin: 8px;
    font-family: Georgia;
    width: 758px;
}

.title{
    background-color: brown;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 23px;
}

.info{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;

}
.imgcar{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.car{
    border: 3px black dashed;
    text-align: center;
}
.conteiner i:nth-child(odd){
    font-style: italic;
}

.conteiner i:nth-child(even){
    color: blue;
}

.foot{
    background-color: black;
    background-size: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}